@media(max-width: 365px) {
    body {
        padding: 5px;
    }
    h1 {
        font-size: 45px
    }
    #container-main {
        max-width: 90%;
        padding: 5px;
        gap: 5px;
    }
    #container-adicionar {
        gap: 10px;
        padding: 10px;
    }
    #input-adicionar, #botao-adicionar {
        padding: 4px 5px;
    }
    #to-do {
        font-size: 13px;
        margin: 5px 0 0 0;
    }
    
}