:root {
    --color-1: #06212a;
    --color-2: #000910;
    --color-3: #121212;
    --color-4: #DAFFFB;
    --color-5: #535353;
    --color-6: #1d2a34;
    --color-7: #007a27;
    --color-8: #5bcd3e;
}

* {
    color: var(--color-4);
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--color-2);

    display: grid;
    place-content: center;
    text-align: center;
}

h1 {
    font-size: 70px;
    margin-bottom: 30px;
    font-family: 'Barriecito', cursive, sans-serif;
}

#container-main {
    padding: 20px;
    border-radius: 8px;
    background: var(--color-3);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#container-adicionar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#container-adicionar #input-adicionar {
    flex: 1;
    color: var(--color-5);
}

#input-adicionar, #botao-adicionar {
    padding: 6px;
    background: var(--color-2);
    border: none;
    border-radius: 4px;
}

ul {
    display: none;
    flex-direction: column;
    width: 100%;
}

.to-do {
    margin: 10px 0 0 0;
    padding: 8px;
    background: var(--color-2);
    list-style: none; 
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
}
.to-do span {
    width: 100%;
    margin-left: 20px;
    text-align: left;
}

/* Personalizando input de checkbox */
input[type="checkbox"] {
    appearance: none;
    height: 24px;
    width: 24px;
    background: var(--color-6);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .2s;
}
input[type="checkbox"]:after {
    font-family: 'font Awesome 5 Free';
    font-weight: 700;
    content: '\f00c';
    font-size: 16px;
    color: #fff;
    display: none;
}
input[type="checkbox"]:hover {
    background: var(--color-7);
}
input[type="checkbox"]:checked {
    background: var(--color-8);
}
input[type="checkbox"]:checked:after {
    display: block;
}

.botao-remover {
    border: none;
    background: url('/images/bin.png');
    width: 16px;
    height: 16px;
    padding: 8px;
}


#check {
    display: flex;
    align-items: center;
    gap: 20px;
}